<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/game.css">
    <link rel="stylesheet" href="static/css/style.css">
    <title>My Gaming Progress</title>
</head>

<body>
    <h1>Most Recent</h1>
    <div class="gallery">
        {{range .games}}
        <div class="book-cover" style="background-image: url({{.GameImage.Cover }});"><span>{{.Title}}</span></div>
        {{end}}
    </div>
</body>

</html>