<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/game.css">
    <link rel="stylesheet" href="static/css/style.css">
    <script src="static/js/jquery-3.6.0.min.js"></script>
    <script src="static/js/htmx.js"></script>
    <title>My Gaming Progress</title>
</head>

<body>
    <h1>My Game Progression</h1>
    <div class="container">
        <div>
            <div class="search-container">
                <input type="text" id="search-input" placeholder="Search..." hx-get="/api/game/list"
                    hx-trigger="keyup changed delay:500ms" hx-target="#gallery" name="query" />
                <!-- <button>Search</button> -->
            </div>
            <!-- <div id="search-results"></div> -->
        </div>
    </div>
    <div class="gallery" id="gallery">
        {{range .games}}
        {{if .GameImage.Cover}}
        <div class="book-cover" style="background-image: url({{.GameImage.Cover}});"><span>{{.Title}}</span></div>
        {{else}}
        <div class="book-cover no-cover"><span>{{.Title}}</span></div>
        {{end}}
        {{end}}
    </div>
</body>
<link rel="stylesheet" href="static/js/jquery-3.6.0.min.js">
<link rel="stylesheet" href="static/js/htmx.js">

</html>