<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/game.css">
    <link rel="stylesheet" href="static/css/style.css">
    <script src="static/js/htmx.js"></script>
    <title>Index</title>
</head>

<body>
    <ul>
        <li><a href="/my-progress-list">my-progress-list</a></li>
        <li><a href="/update-game">update-game</a></li>
        <li><a href="/add-info">add-info</a></li>
        <li><a href="/add-playthrough">add-playthrough</a></li>
    </ul>
</body>
<link rel="stylesheet" href="static/js/jquery-3.6.0.min.js">
<link rel="stylesheet" href="static/js/htmx.js">

</html>